<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="doctors.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Our Services</title>
</head>
<body>

    <div class="container">
        <h2>Our Services</h2>
        <section class="services">
            <div class="card">
                <div class="content">
                    
                    <div class="title">Drug Councellor</div>
                    <p>Name:Mano<br>
                        Working at:xxx<br>
                        Experience:9+yrs<br>
                        </p>
                        <form action="appointment"><button class="button b1">Make an appointment</button></form>

                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="title">Emergency Medicine Specialist</div>
                    <p>Name:Siva<br>
                        Working at:xxx<br>
                        Experience:12+yrs<br></p>
                        <form action="appointment"><button class="button b1">Make an appointment</button></form>

                        
                </div>
            </div>
            <div class="card">
                <div class="content">
                    
                    <div class="title">Ingury Care</div>
                    <p>Name:Teena<br>
                        Working at:xxx<br>
                        Experience:5+yrs<br></p>
                        <form action="appointment"><button class="button b1">Make an appointment</button></form>

                        
                    
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="title">Dentist </div>
                    <p>Name:Preetha<br>
                        Working at:xxx<br>
                        Experience:2+yrs<br></p>
                        <form action="appointment"><button class="button b1">Make an appointment</button></form>

                       
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="title">Dietitian</div>
                    <p>Name:Aarav<br>
                        Working at:xxx<br>
                        Experience:10+yrs<br></p>
                        <form action="appointment"><button class="button b1">Make an appointment</button></form>

                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="title">ENT</div>
                    <p>Name:suchi<br>
                        Working at:xxx<br>
                        Experience:6+yrs<br></p>
                        <form action="appointment"><button class="button b1">Make an appointment</button></form>

                </div>
            </div>
        </section>
    </div>
    
</body>
</html>