<body>
<h3>Knows how to use basic items in a first aid kit</h3>
<p><b>Gloves should always be used for protection when providing first aid to
    someone else</b></p>

<p><b>First Aid Kit 
</b></p>
<ul >
    <li>Antiseptic cream or ointment: helps disinfect the infection to prevent
        bacterial growth </li>
    <li>Band-Aids: to stop bleeding</li>
    <li>Rubbing alcohol: disinfectant to kill bacteria </li>
    <li>Scissors: used to cut adhesive tape </li>
    <li>White tape: adhesive used to keep gauge pads in place </li>
    <li>Cotton balls: used to blot the blood </li>



    <li>Gloves: worn for protection from germs and bodily fluids 
    </li>
    <li> Mask: protect self from breathing in germs 
    </li>
    
</ul>
</body>