<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HealthHive</title> 
    <link rel="stylesheet" href="home.component.css">
   </head>
<body background="https://thumbs.dreamstime.com/b/digital-illustration-dna-structure-abstract-medical-background-technology-145821984.jpg">
	
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">HealthHive</a>

      </div>
           

      <ul>
		
        <li><a href="home">Home</a></li>
		<li><a href="appointment">Appointment</a></li>
		<li><a href="doctors">Doctors</a></li>



		
		<div class="dropdown">
			<button class="dropbtn">Categories</button>
			<div class="dropdown-content">
			  <a href="rod">Risk of Drugs</a>
			  <a href="cf">Symptoms of cold,flu</a>
			  <a href="mi">Care for minor injuries</a>
			</div>
		  </div>
		
	  

	    <li><a href="service">Services</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Create an account to access</div>
    <div class="btns">
      <form action="signup"><button type="submit">Signup</button></form>

	    <form action="login"><button type="submit">Login</button></form>

			
		
    </div>

  </div>


 
</body>
</html>