<!DOCTYPE html>
<html ng-app="HealthCareApp">

<head>
  <title>Healthcare Website</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-controller="MainController">
  <div class="container">
    <form action="home">
      <label for="username">Username:</label>
      <input type="text" id="username" placeholder="Username" />
      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Password" />
      <button type="login">Login</button>
    </form>
    <div class="ear-l"></div>
    <div class="ear-r"></div>
    <div class="panda-face">
      <div class="blush-l"></div>
      <div class="blush-r"></div>
      <div class="eye-l">
        <div class="eyeball-l"></div>
      </div>
      <div class="eye-r">
        <div class="eyeball-r"></div>
      </div>
      <div class="nose"></div>
      <div class="mouth"></div>
    </div>
    <div class="hand-l"></div>
    <div class="hand-r"></div>
    <div class="paw-l"></div>
    <div class="paw-r"></div>
  </div>
  <header>
    <h1></h1>
  </header>

  
</body>

</html>
