<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="service.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Our Services</title>
</head>
<body>

    <div class="container">
        <h2>Our Services</h2>
        <section class="services">
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-hourglass-2	
                        "></i></div>
                    <div class="title">Symptom Checker:</div>
                    <p>Providing tools or interactive features that allow users to input symptoms and receive information on potential causes or conditions. 
                        </p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-clock-o"></i></div>
                    <div class="title">Appointment Scheduling</div>
                    <p>Allowing users to schedule appointments with healthcare providers online, check availability, and receive confirmation details.</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-heart	
                        "></i></div>
                    <div class="title">Wellness and Prevention Resources </div>
                    <p>Offering tips, articles, and resources for maintaining a healthy lifestyle, preventing diseases, and promoting overall well-being.</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-check-circle"></i></div>
                    <div class="title">Responsive Design </div>
                    <p>Responsive design is to ensure that the website provides an optimal viewing and interaction experience across a wide range of devices</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-mobile"></i></div>
                    <div class="title">Mobile Application</div>
                    <p>Developing mobile apps to enhance accessibility and allow users to access healthcare information and services on the go.</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-laptop"></i></div>
                    <div class="title">Medical Information and Education</div>
                    <p>Offering accurate and up-to-date information about medical conditions, treatments, medications, and general health topics to educate users.</p>
                </div>
            </div>
        </section>
    </div>
    
</body>
</html>