body{
    text-align: center;
    background-image: url(https://media.istockphoto.com/id/1166057429/vector/virus-cell-background-epidemic-viral-infection-hiv-flu-virus.jpg?s=612x612&w=0&k=20&c=hDzFE0p1Gi8FzmUvaz8pIXTH8C39GNNruF28FURt594=);
    background-size: cover;
    font-size: larger;
    font-size:x-large;
    
    }
    img{
      border-radius: 50%;
    }
    
   
    
    
    