<body>

    <h3>Knows how to care for own minor injuries 
    </h3>
    <p><b>Many minor injuries, such as a cut, splinter, nosebleed or minor burn can be treated at
        home with basic first aid materials</b></p>
    
    <p><b>How to treat a minor burn:
 
    </b></p>
    <ul >
        <li>Remove yourself from the source of the burn (stove, iron, etc.)
        </li>
        <li>Remove any clothing and jewelry from the burn
        </li>
        <li>Run cool (not cold, or ice) water over the burn for at least 3-5 minutes
        </li>
        <li>Apply aloe gel or cream to the area, and keep it clean and covered (sterile bandage or
            gauze) if the burn is the size of a quarter or smaller until healed </li>
        <li>Take Tylenol, Advil, or Motrin (acetaminophen) as needed to help control the pain
        </li>
        
    </ul>
    </body>