<body>

    <img align="right" src="https://media.istockphoto.com/id/1166057429/vector/virus-cell-background-epidemic-viral-infection-hiv-flu-virus.jpg?s=612x612&w=0&k=20&c=hDzFE0p1Gi8FzmUvaz8pIXTH8C39GNNruF28FURt594=" height="550px" width="550px" >    


    <h3>The symptoms of a cold, flu</h3>
<p>Cold: Headache, runny nose, cough, congestion, tired, weak</p>
<p>Flu: Similar to cold, but also aches & pains, high fever, chills</p>
<p><b>Indigestion</b></p>
<ul >
    <li> Bloating
    </li>
    <li>Stomach pain
    </li>
    <li>Growling stomach
    </li>
  </ul>

<p><b>Stomach virus</b></p>
<ul>
    <li>Diarrhea

    </li>
    <li>Cramps

    </li>
    <li>Low grade fever 

    </li>
</ul>


</body>