body{
    text-align: center;
    background-image: url(https://c1.wallpaperflare.com/preview/492/727/830/thermometer-temperature-measurement-health.jpg);
    background-size: cover;
    font-size:x-large;
    color: rgb(9, 15, 20);    
    }
    img{
      border-radius: 50%;
    }
    
    
    