<body >
<img align="right" src="https://image.slidesdocs.com/responsive-images/background/colorful-medicine-and-medication-pills-scattered-on-table-in-bright-setting-at-hospital-powerpoint-background_468c4d07e7__960_540.jpg" height="550px" width="550px" >    
<h3>Understands the risks of drug </h3>
<div>
<p><b>Health Issues:</b></p>
    <ul >
        <li>Depression 
        </li>
        <li>Hallucinations
        </li>
        <li>Impaired safety and judgment 
        </li>
      </ul>

<p><b>Physical danger:</b></p>
    <ul>
        <li>Impact of hygiene 
        </li>
        <li>Damage to relationships/ social 
        </li>
        <li>Impact on future career prospects 
        </li>
    </ul>

    <p><b>Physical:</b></p>
    <ul>
        <li>Memory loss</li>
        <li>Brain damage </li>
        <li>Muscle weakness </li>
        <li>Violent behavior </li>
    </ul>
</div>
</body>