body{
text-align: center;
background-image: url(https://img.freepik.com/free-photo/medicine-capsules-global-health-with-geometric-pattern-digital-remix_53876-126742.jpg);
background-size: cover;
font-size: larger;
font-size:x-large;

}
img{
	border-radius: 50%;
}


